<p>profesores works!</p>

<p>Nuestros Profesores </p>

<p>programacion</p>
<br>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="../../../assets/img/profesor.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">profesor 1</h5>
                <p class="card-text">informacion del profesor y que hace</p>
            </div>
        </div>
    </div>
</div>
<br>
<p>ciencias</p>
<br>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="../../../assets/img/profesor2.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">profesor 2</h5>
                <p class="card-text">informacion del profesor y que hace</p>
            </div>
        </div>
    </div>
</div>