<p class="text">podcast works!</p>
<p class="text">Aqui encontraras algunos de nuestros Podcast recienntes</p>

<div class="card" style="width: 18rem;">
    <img src="../../../assets/img/podcast1.png" alt="">
    <div class="card-body text">
        <h5 class="card-title">Capitulo #1</h5>
        <p class="card-text">Son dificiles las matematicas</p>
        <a href="https://www.youtube.com/watch?v=IHblqjW8RY8" class="btn btn-primary">Ver video</a>
    </div>
</div>

<!--con este colocamos video
<iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen></iframe>
-->