<p class="text">cursos works!</p>

<p class="text">Estos son algunos de nuestros cursos</p>

<div class="card text" style="width: 18rem;">
    <img src="../../../assets/img/python.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Curso de python de basico a avanzado</h5>
        <p class="card-text">En etse curso aprenderas desde lo mas basico a lo avanzado</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">9am - 12am</li>
        <li class="list-group-item">6hrs a la semana</li>
        <li class="list-group-item">Prof.Angel Fernandez</li>
    </ul>
    <div class="card-body">
        <a [href]="['/contacto']" class="card-link">Contacto</a>
        <a href="../../../assets/doc/temario_de_Python.pdf" class="card-link">Temario</a>
    </div>
</div>

<br>

<div class="card text" style="width: 18rem;">
    <img src="../../../assets/img/java.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Curso de java de basico a avanzado</h5>
        <p class="card-text">En etse curso aprenderas desde lo mas basico a lo avanzado</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">13:00pm - 15:00pm</li>
        <li class="list-group-item">6hrs a la semana</li>
        <li class="list-group-item">Prof.kevin</li>
    </ul>
    <div class="card-body">
        <a [href]="['/contacto']" class="card-link">Contacto</a>
        <a href="../../../assets/doc/temario_de_java.pdf" class="card-link">Temario</a>
    </div>
</div>